# build artifacts
/groff_man-passed-check-for-m4-keywords-stamp
/groff_man.7
/groff_man.7.man
/groff_man_style.7
/groff_man_style.7.man
/groff_mdoc.7
/groff_me.7
/groff_ms.7
/groff_trace.7
/groff_www.7
/stamp-wrap
/www.tmac
# test ("make check") artifacts
/tests/*.log
/tests/*.trs
