# artifacts expected in a clean tree
/.version
/Makefile.in
/aclocal.m4
/autom4te.cache/
/build-aux/
/configure
/gnulib_m4/
/lib/
# build artifacts
/INSTALL
/Makefile
/addftinfo
/afmtodit
/charset.alias
/config.log
/config.status
/chem
/defs.h
/eqn
/eqn2graph
/gdiffmk
/glilypond
/gperl
/gpinyin
/grap2graph
/grn
/grodvi
/groff
/grog
/grolbp
/grolj4
/gropdf
/grops
/grotty
/gxditview
/hpftodit
/indxbib
/libbib.a
/libdriver.a
/libgroff.a
/libxutil.a
/lkbib
/lookbib
/mmroff
/neqn
/nroff
/pdfmom
/pdfroff
# XXX: do we really need penguin.{pdf,ps} at the top of the build tree?
/penguin.pdf
/penguin.ps
/pfbtops
/pic
/pic2graph
/post-grohtml
/pre-grohtml
/preconv
/ref-add.sed
/ref-del.sed
/refer
/shdeps.sed
/soelim
/tbl
/test-groff
/tfmtodit
/troff
/xtotroff
# test ("make check") artifacts
/test-suite.log
