# build artifacts
/.deps/
/.dirstamp
/eqn-box.o
/eqn-delim.o
/eqn-eqn.o
/eqn-lex.o
/eqn-limit.o
/eqn-list.o
/eqn-main.o
/eqn-mark.o
/eqn-other.o
/eqn-over.o
/eqn-pile.o
/eqn-script.o
/eqn-special.o
/eqn-sqrt.o
/eqn-text.o
/eqn.1
/eqn.cpp
/eqn.hpp
/eqn.output
/neqn.1
# test ("make check") artifacts
/tests/*.log
/tests/*.trs
