# build artifacts
/examples/chess_board.ps
/examples/col_rowspan_colors.ps
/examples/color_boxes.ps
/examples/color_nested_tables.ps
/examples/color_table_cells.ps
/examples/color_transitions.ps
/examples/fonts_n.ps
/examples/fonts_n.roff
/examples/fonts_x.ps
/examples/fonts_x.roff
/examples/mixed_pickles.ps
/examples/rainbow.ps
/examples/short_reference.ps
/groff_hdtbl.7
# test ("make check") artifacts
/examples/test-hdtbl.sh
/examples/test-hdtbl.sh.log
/examples/test-hdtbl.sh.trs
