# build artifacts
/automake.pdf
/gnu.eps
/grnexmpl.ps
/groff-man-pages.pdf
/groff-man-pages.utf8.txt
/groff.dvi
/groff.dvi.t2d/
/groff.html
/groff.html.node/
/groff.info
/groff.info-[1-9]
/groff.pdf
/groff.pdf.t2p/
/groff.txt
/img/pic-*.png
/img/webpage-*.png
/meintro.me
/meintro.ps
/meintro_fr.me
/meintro_fr.ps
/meref.me
/meref.ps
/ms.ps
/pic-*.html
/pic.html
/pic.ps
/webpage-*.html
/webpage.html
/webpage.ps
