# build artifacts
/examples/copyright-chapter.pdf
/examples/copyright-default.pdf
/examples/letter.pdf
/examples/mom-pdf.pdf
/examples/mon_premier_doc.pdf
/examples/sample_docs.pdf
/examples/slide-demo.pdf
/examples/typesetting.pdf
/groff_mom.7
# test ("make check") artifacts
/examples/tests-mom.sh
/examples/tests-mom.sh.log
/examples/tests-mom.sh.trs
