# build artifacts
/.deps/
/.dirstamp
/GXditview-ad.h
/groff_version.h
/gxditview-Dvi.o
/gxditview-device.o
/gxditview-draw.o
/gxditview-font.o
/gxditview-lex.o
/gxditview-page.o
/gxditview-parse.o
/gxditview-xditview.o
/gxditview.1
