# build artifacts
/.deps/
/.dirstamp
/label.cpp
/label.hpp
/label.output
/refer-command.o
/refer-label.o
/refer-ref.o
/refer-refer.o
/refer-token.o
/refer.1
/refer.o
# test ("make check") artifacts
/tests/*.log
/tests/*.trs
