# build artifacts
/.deps/
/.dirstamp
/dictionary.o
/div.o
/env.o
/input.o
/majorminor.cpp
/majorminor.o
/mtsm.o
/node.o
/number.o
/reg.o
/troff.1
# test ("make check") artifacts
/tests/*.log
/tests/*.trs
