# build artifacts
/.deps/
/.dirstamp
/libgroff_a-assert.o
/libgroff_a-change_lf.o
/libgroff_a-cmap.o
/libgroff_a-color.o
/libgroff_a-cset.o
/libgroff_a-curtime.o
/libgroff_a-device.o
/libgroff_a-errarg.o
/libgroff_a-error.o
/libgroff_a-fatal.o
/libgroff_a-filename.o
/libgroff_a-font.o
/libgroff_a-fontfile.o
/libgroff_a-geometry.o
/libgroff_a-getopt.o
/libgroff_a-getopt1.o
/libgroff_a-glyphuni.o
/libgroff_a-htmlhint.o
/libgroff_a-hypot.o
/libgroff_a-iftoa.o
/libgroff_a-invalid.o
/libgroff_a-itoa.o
/libgroff_a-lf.o
/libgroff_a-lineno.o
/libgroff_a-localcharset.o
/libgroff_a-macropath.o
/libgroff_a-matherr.o
/libgroff_a-maxfilename.o
/libgroff_a-maxpathname.o
/libgroff_a-mksdir.o
/libgroff_a-nametoindex.o
/libgroff_a-paper.o
/libgroff_a-prime.o
/libgroff_a-progname.o
/libgroff_a-ptable.o
/libgroff_a-quotearg.o
/libgroff_a-relocate.o
/libgroff_a-searchpath.o
/libgroff_a-spawnvp.o
/libgroff_a-string.o
/libgroff_a-strsave.o
/libgroff_a-symbol.o
/libgroff_a-tmpfile.o
/libgroff_a-tmpname.o
/libgroff_a-unicode.o
/libgroff_a-uniglyph.o
/libgroff_a-uniuni.o
/libgroff_a-version.o
/version.cpp
