# build artifacts
/AB
/ABI
/AI
/AR
/BMB
/BMBI
/BMI
/BMR
/CB
/CBI
/CI
/CR
/DESC
/EURO
/Foundry
/HB
/HBI
/HI
/HNB
/HNBI
/HNI
/HNR
/HR
/NB
/NBI
/NI
/NR
/PB
/PBI
/PI
/PR
/S
/TB
/TBI
/TI
/TR
/U-AB
/U-ABI
/U-AI
/U-AR
/U-BMB
/U-BMBI
/U-BMI
/U-BMR
/U-CB
/U-CBI
/U-CI
/U-CR
/U-HB
/U-HBI
/U-HI
/U-HNB
/U-HNBI
/U-HNI
/U-HNR
/U-HR
/U-NB
/U-NBI
/U-NI
/U-NR
/U-PB
/U-PBI
/U-PI
/U-PR
/U-S
/U-TB
/U-TBI
/U-TI
/U-TR
/U-ZCMI
/U-ZD
/ZCMI
/ZD
/download
/enc/text.enc
/map/symbolchars
/map/symbol.map
/map/text.map
/map/dingbats.map
/stamp
/util/BuildFoundries
# test ("make check") artifacts
/tests/check-default-foundry.sh
/tests/check-urw-foundry.sh
/tests/*.log
/tests/*.trs
